@import "tailwindcss";

:root {
  --base-font-size: 16px;
  --background: #10171a;
  --foreground: #171717;
  --primary: #eae2d2;
  --secondary: #b99050;
  --tertiary: #8c3c32;
  --quaternary: #a6a275;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-quaternary: var(--quaternary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-fraunces-sans);
  --font-mono: var(--font-manrope-mono);
  --font-mono-alt: var(--font-dm-mono);
}

.simulation-speed.active {
  @apply bg-secondary text-foreground;
}
.config-panel.active {
  @apply block;
}
.simulation-button.active {
  @apply bg-tertiary text-primary;
}
button.disabled {
  @apply bg-red-500;
}
h1 {
  @apply text-6xl;
}
.simulation-extra-toggles.active {
  @apply bg-secondary border-secondary border text-foreground px-2 py-1;
}
.simulation-extra-toggles.inactive {
  @apply bg-tertiary border-tertiary border px-2 py-1 text-primary;
}
.results {
  @apply duration-300 transition-all h-8;
}
.results.active {
  @apply h-100;
}
.modal.active {
  @apply fixed;
}
